@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Josefin+Sans&family=Lato:wght@400;700&family=Montserrat&display=swap');
*{
  font-family:'Montserrat', sans-serif;
  margin:0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


a{
  text-decoration: none;
}

textarea {max-width:100%;} 

/* font-family: 'Archivo Black', sans-serif; */

/* font-family: 'Josefin Sans', sans-serif; */

@media screen and (max-width:320px){
  svg{
   max-width:260px; 
  }

  span{
    font-size:12px;
  }
}

@media screen and (min-width:321px  ) and (max-width:480px){
  svg{
   max-width:260px; 
  }

  span{
    font-size:12px;
  }
}

@media screen and (min-width:481px  ) and (max-width:760px){
  svg{
   max-width:260px; 
  }

  span{
    font-size:16px;
  }
}

@media screen and (min-width:761px  ) and (max-width:980px){
  svg{
   max-width:360px; 
  }

  span{
    font-size:22px;
  }

}

@media screen and (min-width:900px  ){

  .mobilemenu {
    display:none
  }
}